---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About Iv Mirosh</title>
	</head>


	<body>
		<a href="/">Main</a>
		<a href="/about">About Me</a>
		<a href="/blog">Blog</a>
		<h1>I'm a frontend developer willing to gain new exprerience. Let's learn together!</h1>
	</body>
</html>
