---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
	</head>

	<body>
		<a href="/">Main</a>
		<a href="/about">About Me</a>
		<a href="/blog">Blog</a>
		<h1>My Blog</h1>

		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
			placeat iusto obcaecati ipsum. Explicabo officia eum magni, autem dolor
			eveniet voluptates labore eos porro quisquam impedit dolorum suscipit iste
			a enim reprehenderit sit officiis possimus adipisci, excepturi sint
			deleniti, fugiat praesentium. Numquam error iusto tempora nam et deleniti
			cum nulla?
		</p>
	</body>
</html>
